[Desktop Entry]
Name=Android Studio On Docker
Comment=Android Studio running a docker
Exec=AndroidStudioOnDocker.sh
Terminal=false
Type=Application
Icon=studio-docker
Categories=Development;
